c24-spring-batch/src/test/resources/employee.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:element name="employee">
                <xs:complexType>
                        <xs:attribute name="salutation" type="xs:string" use="required" />
                        <xs:attribute name="firstName" type="xs:string" use="required" />
                        <xs:attribute name="lastName" type="xs:string" use="required" />
                        <xs:attribute name="jobTitle" type="xs:string" use="required" />
                </xs:complexType>
        </xs:element>
</xs:schema>